<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <form method="POST" action="/">
            <center>
            <H1>Enter your details </H1> <br>
            First Name <input type = "text" name= "eq1" /> <br>
            Last Name <input type = "text" name = "eq2" /> <br>
            <input type = "submit">
            </center>
    </form>
    <script src="../static/test.js"></script>
  </body>
</html>
