body{
    background-color: #F9BA39;

}
.contain {
    width: 70em;
    height: 50em;
    background-color: #426e86;
    margin: 3em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#divList, #divGrp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#divList div {
    font-size: 1.5em;
    background-color: #2f3131;
    color: #f8f1e5;
    font-weight: bold;
    width: 4em;
    border-radius: 1em;
    text-align: center;
    padding: 0.5em;
}
#divGrp div {
    background-color: #F9BA39;
    color: #2f3131;
    font-weight: bold;
    width: 7em;
    border-radius: 1em;
    text-align: center;
    padding: 0.5em;
    font-size: 1.5em;
}
button {
    font-size: 1.5em;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    width: 70%;
}
input {
    font-size: 1.5em;
    margin: 1em;
    width: 50%;
}
.preparation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.saisie{
    text-align: center;
}

.creation {
    display: flex;
    flex-direction: column;
}
.create_delete{
    display: flex;
    flex-direction: row;

}
.nbGrp {
    text-align: center;
}